@model MvcStok.Models.Entity.Tbl_Urunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" placeholder="Ürün Adını giriniz.." maxlength="50"/>
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA" placeholder="Marka Adını giriniz.." required="" maxlength="50" />
    </div>

    <div>
        <label>Ürün Kategori</label>
        @Html.DropDownListFor(m=>m.Tbl_Kategoriler.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new { @class="form-control"})
    </div>

    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" placeholder="Fiyat Giriniz.." required="" maxlength="50"/>
    </div>

    <div>
        <label>Stok Adeti</label>
        <input type="text" class="form-control" name="STOK" placeholder="Stok Adeti giriniz.." required="" maxlength="50"/>
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün  Ekle</button>
    </div>
</form>

